<AuthorizeView>
    <Authorized>
        <MudLink Color="Color.Secondary" href="Identity/Account/Manage">Hello, @context.User.Identity.Name! </MudLink>
        <form method="post" action="Identity/Account/LogOut">
            <MudButton Variant="Variant.Text" type="submit" EndIcon="@Icons.Filled.Logout" Color="Color.Secondary">Log out</MudButton>
        </form>
    </Authorized>
	<NotAuthorized>
		<MudButton Link="Identity/Account/Register"
				   Target="_self"
				   Variant="Variant.Text"
				   EndIcon="@Icons.Filled.AppRegistration"
				   Color="Color.Secondary">Register</MudButton>
		<MudButton Link="Identity/Account/Login"
				   Target="_self"
				   Variant="Variant.Text"
				   EndIcon="@Icons.Filled.Login"
				   Color="Color.Secondary">Log in</MudButton>
	</NotAuthorized>
</AuthorizeView>
