<Background />
<MudAppBar Color="Color.Primary" Fixed="false">
	<MudAppBarSpacer />
	<LoginDisplay />
</MudAppBar>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-lg-8"></div>
		<div class="col-xs-6 col-lg-4">
			<CalculatorForm />
		</div>
	</div>
</div>
