@page "/"

<AuthorizeView Roles="Client, Courier">
	<Authorized>
		<h1>Hello @context.User.Identity.Name</h1>
	</Authorized>
	<NotAuthorized>
		<h1>Enter all client data in your profile settings!</h1>
		<MudLink Color="Color.Info" href="Identity/Account/Manage">User settings</MudLink>
	</NotAuthorized>
</AuthorizeView>
